OPENAI_API_KEY=YOUR_OPENAI_API_KEY
PORT=3002
OPENAI_MODEL=gpt-4o-mini

# Licença (true para exigir x-user-key)
APP_REQUIRE_LICENSE=false

# Assinatura
APPEND_SIGNATURE=true
APPEND_SIGNATURE_MODE=closing
SIGNATURE="👨🏻‍💼 Augusto Seixas\n🏠 Corretor de Imóveis\n🎯 Spin Vendas\n🎯 Compra • Venda • Aluguel\n📋 CRECI-RJ: 105921\n📲 (21) 98565-3880\n📧 augusto.seixas@spinvendas.com\n🌐 www.spinimoveis.com"
